/* Header */

.navbar {
	margin-bottom:0;
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}

.jumbotron {
	background: #07234F;
	color: #FFF;
	padding: 20px 0;
}

.jumbotron {
	font-size: 10px;
}
.splash{
	background:url(../img/show-lb-611333-unsplash.jpg) no-repeat;
	height: 219px;
    position: relative;
}
.splash h1{
	background: #fff;
	position: absolute;
    bottom: 0;
    padding: 5px;
}